@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-bg: #f9f9f9;
  --color-main: #4e7fa7;
  --color-white: #ffffff;
  --color-grey: #96a1b7;
  --color-light-grey: #b6bac8;
  --color-stroke: #f1f1f1;
  --color-text: #424a65;
  --font-pretendard: "Pretendard", sans-serif;
}

body {
  font-family: var(--font-pretendard);
  min-height: 100vh;
  background-color: var(--color-bg);
}
